<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
            </handlers>
            <httpProtocol>
                <customHeaders>
                    <add name="X-Frame-Options" value="deny" />
                </customHeaders>
            </httpProtocol>
            <aspNetCore processPath="dotnet" arguments=".\TestApplication.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: 8F14C4F7-602D-46E3-9E88-EF4431B90351-->